

<h1><%= @place.name %></h1>


<ul>
  <% for post in @place.posts %>
  <p><h2><%= "#{post.title}" %></h2> </p>
  
  <p><h6><%= "#{post.posted_on}" %></h6> </p>
  
  <p><h4><%= "#{post.description}" %> </h4> </p>

  <% end %>
</ul>




<a href="/posts/new?place_id=<%=@place.id%>"> Create new post

<p> <a href="/places"> Back to list of places visited </p>



